@import 'assets/styles/mixins.scss';

.card {
  border: 0 solid $white;
  background: $white;
  position: relative;
  border-radius: 3px;
  margin-bottom: 34px;
}

.head {
  height: rem(200);
  display: flex;
  align-items: center;
  background: $gray-lighten-more center center;
  background-size: cover;
  border-radius: 0.25rem;
  line-height: 1.1;
  padding: rem(25) rem(30);
}

.left {
  float: left;
  padding-left: rem(20);
  margin-top: rem(-50);
}

.right {
  margin-left: rem(160);
  padding-top: rem(20);
  padding-right: rem(40);
  padding-bottom: 10px;
}
.rightInner {
  height: 100px;
  overflow: hidden;
}
